#logo{
	height:100px;
	width:100px;
}
header{
	/*background-color: red;*/
}
#menu{
	padding:0px;
	margin:0px;
	list-style-type: none;
}
#menu li{
	background-color: #38FDFF;
	float:left;
	width:200px;
	margin-left:5px;
	text-align: center;
	padding:10px;
	border-radius: 5px;
	transition-property:all;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
}
#menu li:hover{
	background-color: #1784D7;
	cursor: pointer;
}
#menu li a{
	color: #fff;
	text-decoration: none;
}
#slider-container{
	background-color: yellow;
	height: 300px;
}
.clear{
	clear:both;
}
#parent{
	height: 400px;
	background-color: yellow;
}
.sub-section{
	width:33%;
	float:left;
	margin-left:2px;
	background-color: green;
	height:100%;
	box-sizing:border-box;
}
html,body{
	margin:0px;
	padding:0px;
}
footer{
	background-color: #ccc;
	height: 100px;
}